/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, 
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover,
.linklogin:hover, .linkprojects:hover {
  color: #b1663c;
}

.linklogin, .linkprojects {
  text-decoration: none;
  color: black;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#picture-modify{
  margin-top: 1%;
  margin-left: 10%;
}

#picture-modify a{
  align-self: flex-end;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#categories {
  display: flex;
  justify-content: center;
}

#categories li {
  /*mes modifs */
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: white;
  margin-block: 2em;
  margin-inline: 0.5em;
  border-radius: 60px;
  border: #1d6154 solid 2px;
  padding-inline: 2em;
  padding-block: 0.5em;
}

#categories li:hover {
  color: white;
  background-color: #1d6154;
}

.hide {
  /*pour les filtres*/
  display: none;
}

/*pour la page de connexion, code à revoir pour épurer*/
#bold-login {
  font-weight: bold;
}

.log-in {
  width: 50%;
  margin: auto;
  margin-bottom: 20%;
  margin-top: 10%;
}

#login-title {
  text-align: center;
}

.log-in form {
  text-align: left;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.log-in input, #form-modal-add input, #select-category {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.log-in label {
  align-items: left;
  text-align: left;
  margin: 2em 0 1em 0;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

#forgotten-password {
  color: #1d6154;
  font-weight: bold;
  text-align: center;
}

#authentification-failed {
  text-align: center;
  margin-bottom: 5%;
  color: red;
  font-weight: bolder;
  font-size: large;
  display: none;
}

/* pour la modale */
#modal-userconnected { /*la boîte qui apparaît pour ouvrir la modale*/
  background-color: black;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0;
}

#changings {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 25px;
  margin-inline: 2%;
  padding: 12px;
  cursor: pointer;
}

#changings:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 12px;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Syne';
}

.modal-wrapper {
  overflow: auto;
  background-color: #fff;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.close-modal, .close-modal2, .back-modal {
  padding: 0;
  border: none;
  background: none;
  font-size: large;
  align-self: flex-end; /*pour que l'item se mette à la fin du bloc*/
}

.close-modal:hover, .close-modal2:hover, .back-modal:hover{
  font-weight: bolder;
  color: #b1663c;
}

.button-adjusting{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title-modal{
  font-family: 'Work Sans';
  font-weight: 400;
  color: black;
  margin-bottom: 30px;
}

#photographs-modal{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 70%; /*met les photos en rang*/
  font-family: 'Work Sans';
}

.pictures-adjustments{ /*pour modifier les images de la modale faites avec JS*/ 
  width: 76px;
  height: 102px;
  margin: 10px -5px; /*top/bot, left/right*/
  }

.separate-line{
  width: 100%;
  margin: 50px 0;
  color: #B3B3B3;
}

#line-modal1{ /*ligne de la première modale, voir si je peux mettre ça autrement car la width est étrange*/
  width: 70%;
}

#add-pictures, #button-form-add{
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  padding: 10px 45px;
  text-align: center;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.remove-pictures{ /*options de la modale pour effacer la galerie d'images*/
  text-decoration: none;
  color: red;
  margin: 25px;
}

.trashbin-icon{
  background-color: black;
  border-radius: 2px;
  max-width: 15px; /*taille max de l'image*/
  display: block;
  position: relative; /*pour bouger l'image par rapport à sa position initiale*/
  left: 60px;
  top : 17px;
  cursor: pointer;
}

#modal-add-pics label{
  margin-bottom: 5px;
}

#form-modal-add{
  display: flex;
  flex-direction: column;
  width: 70%;
  font-family: "Work Sans";
}

#form-modal-add input{
  margin-bottom: 30px;
  font-family: "Work Sans";
}

#button-form-add{
  width: 55%;
  align-self: center;
  background-color: #A7A7A7;
}

#projects-modifications{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.add-modifications{
  display: flex;
  align-items: baseline;
  margin-left: 5%;
}

.add-modifications a{
  text-decoration: none;
  color: black;
  margin-inline: 15%;
}

.add-modifications img{
  max-width: 20px;
  width: fit-content;
  max-height: fit-content;
}

#presentation-modify{
  width: min-content;
  margin-left: 0;
  margin-bottom: 3%;
}
#presentation-modify a {
  align-self: flex-end;
}

/*pour la modale qui ajoute les photos*/
#picture-block{
  width: 100%;
  max-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 241, 246);
  margin-bottom: 7%;
}

#picture-block p{
  margin-top: 5%;
  font-size: 0.8em;
  padding-bottom: 7%;
}

#icon-picture{
  width: 15%;
  opacity: 30%;
  margin-bottom: 5%;
  padding-top: 7%;
}

.image-upload input{
  display: none;
}

.image-upload label{
  cursor: pointer;
  color: #306685;
  background-color: #CBD6DC;
  padding: 10px 45px;
  border-radius: 60px;
  font-size: 1.1em;
  font-weight: bold;
}

#image-uploaded{
  max-height: 180px;
}

#select-category{
  font-family: "Work Sans";
}

